@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Primary */
    --primary-pink: hsl(0, 36%, 70%);
    --primary-red: hsl(0, 74%, 74%);
    --primary-darkred: hsl(0, 93%, 68%);
    /* Neutral */
    --neutral-gray: hsl(0, 6%, 24%);
    /* Background/-color */
    --bgc-peach: hsl(0, 100%, 98%);
    /* Fonts */
    --fs-Josefin: "Josefin Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fs-Josefin);
    background-color: var(--bgc-peach);
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 165px;
}

.right-section img {
    height: 100vh;
    width: auto;
    object-fit: cover;
}

.logo {
    width: 158px;
    margin-bottom: 136px;
    margin-top: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    letter-spacing: 10px;
    font-size: 54px;
    margin-bottom: 20px;
    color: var(--neutral-gray);
}

.title span {
    font-weight: 300;
    color: var(--primary-pink);
}

.description {
    color: var(--primary-pink);
    line-height: 30px;
    width: 445px;
    margin-bottom: 32px;
}

.email-wrapper {
    position: relative;
    width: 445px;
    margin-bottom: 138px;
}

.email-wrapper input {
    width: 445px;
    border-radius: 25px;
    border: 1px solid var(--primary-pink);
    padding: 11px 70px 11px 32px;
    background: transparent;
    font-size: 15px;
}

.email-wrapper input:focus {
    border: 1px solid var(--primary-darkred);
    outline: none;
}

.email-wrapper input::placeholder {
    color: var(--primary-pink);
}

.send-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    border: none;
    background-color: var(--primary-red);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(206, 59, 59, 0.3);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 20px;
    }
  
}